# --絶対あげたらだめ(セキュリティ)--
.env*
**/.env*

# --python--
__pycache__/
*.py[cod]
.pytest_cache/

# --typescript--
node_modules/
dist/
dist-srr/

data/

!*/db/
*/db/*
!*/db/.gitkeep
.DS_Store
Thumbs.db
.vscode/